<h2>Вход в личный кабинет</h2>
<form action="" method="POST">
  <p>
      <label for="email" >Введите вашу почту</label>
      <input type="email" id="email" name="email" placeholder="Введите почту" required>
  </p>
  <br>
  <p>
  <label for="password">Введите пароль</label>
  <input type="password" name="password" id="password" minlength="3" placeholder="Пароль" required>
  </p>
  <button type="submit">Войти</button>
</form>