<h2 class="block">Пожалуйста, зарегистрируйтесь</h2>
<form action="" method="POST">
  <p>
  <label for="username" class="block mar-b-1">Придумайте логин</label>
  <input id="username" type="text" name="username" required
  class="block no-outline no-border w-100 pad-1 mar-b-2">
  </p>
  <br>
  <p>
  <label for="email" class="block mar-b-1">Введите почту</label>
  <input id="email" type="email" name="email" required
  class="block no-outline no-border w-100 pad-1 mar-b-2">
  </p>
  <br>
  <p>
  <label for="password" class="block mar-b-1">Придумайте пароль</label>
  <input type="password" name="password" id="password" minlength="3" required 
  class="block no-outline no-border w-100 pad-1 mar-b-2">
  </p>
  <br>
  <button type="submit"
   class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">Зарегистрироваться</button>
</form>