<h2>Пожалуйста, зарегистрируйтесь</h2>
<form action="" method="POST">
  <p>
  <label for="username">Придумайте логин</label>
  <input id="username" type="text" name="username" placeholder="Введите логин" required>
  </p>
  <br>
  <p>
  <label for="email">Введите почту</label>
  <input id="email" type="email" name="email" placeholder="Введите почту" required>
  </p>
  <br>
  <p>
  <label for="password">Придумайте пароль</label>
  <input type="password" name="password" id="password" minlength="3" required>
  </p>
  <br>
  <button type="submit">Зарегистрироваться</button>
</form>