.main-nav {
  display: flex;
  justify-content: space-around;
  background-color:#8D8741;
  margin: 0 0 20px 0;
  padding: 20px;
  font-size: xx-large;
  font-weight: 900;
  /* color: #659DBD; */
}

a {
  color: #DAAD86;
  text-decoration: none;
}

body {
  background-color:#FBEEC1;
  margin: 0px;
}

footer {
  padding-left: 200px;
  padding-top: 25px;
  background-color:#8D8741;
  color: #FBEEC1;
}

h1, h2, h3 {
  color: #659DBD;
}

#imageMain {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(/pictures/color.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-width: 50vw;
  min-height: 70vh;
  margin: 0;
}

.centered {
  text-align: center;
}

.title {
  font-family:'Fira Sans Extra Condensed';
	font-size: 27px;
	color: #000;
	padding-left: 10px;
	line-height: 39px;
}

.title span {
  border-radius: 4px;
	display: inline;
	background-color: #BC986A;
	padding: 5px 10px;
	color: #FBEEC1;
	font-size: 30px;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;   
}

/*кнопка на главной для создания заметки*/
.primaryProfile {
  font-size: 35px;
  padding: 5px;
  background: #659DBD;
  color: #FBEEC1;
  border-radius: 25px;
  border: 3px solid #E7E5DD;
  height: 40px;
  width: 80px;
}
.primaryProfile:hover {
  color: #FBEEC1;
  background: #DAAD86;
}
.primaryProfile span {
  opacity: 0;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
.primaryProfile:hover span {
  opacity: 1;
  padding-left: 20px;
  padding-right: 20px;
  color: #BDB9AB;
}

.butInProfile {
  border-style: none;
  /* border-radius: 4px solid #659DBD; */
  background-color: #659DBD;
  width: 180px;
  height: 40px;
  font-weight: bold;
  color: #FBEEC1;
  font-size: 18px;
}

.butInProfile:hover {
  cursor: pointer;
  background-color: #DAAD86;
  color: #659DBD;
}

#memoForm {
  margin-left: 30px;
  padding: 25px;
  border: 3px solid #659DBD;
  border-radius: 5px;
  height: 500px;
  width: 400px;
}

.containerForOneMemo, .oneMemo{
  margin: 30px;
  padding: 30px;
  border: 3px solid #659DBD;
  border-radius: 5px;
  height: 450px;
  width: 600px;
}

/* style registration */

.no-outline {
  outline: none;
  text-align: center;
}

.no-border {
  border: none;
}

.w-100 {
  width: 30%;
}

.block {
  display: block;
  text-align: center;
}

.pad-1 {
  padding: 1em;
  margin-left: 480px;
  
}

/* .mar-b-2 {
  margin-bottom: 0.5em;
} */

.mar-b-1 {
  margin-bottom: 0.5em;
  font-size: 20px;
  font-weight: bolder;
  color: #BC986A ;
}

.button {
  background: #659DBD;
  color: #FBEEC1;
  font-size: 20px;
  padding: 1em;
  text-decoration: none;
}

.button:hover {
  cursor: pointer;
  color: white;
  text-decoration: none;
  background-color: #659DBD;
}

.mar-t-4 {
  margin-top: 4em;
}

.mar-b-3 {
  margin-bottom: 3em;
}

.pad-2 {
  padding: 1em;
}

.round-1 {
  border-radius: 1em;
}

.text-c {
  text-align: center;
}

.center {
  margin: 0 auto;
}

form {
  margin: 30px;
}